.profile_image img {
  width: 555px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--white);
}
.about_banner {
  background: url("../../assets/images/profile_background.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}
.about_banner_wrapper {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 120px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
}
.about_article_banner {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1350px) {
  .profile_image img {
    width: 450px;
    margin: 50px 0;
  }
  .about_banner_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px 0 0 0;
  }
}
@media screen and (max-width: 750px) {
  .profile_image img {
    width: 350px;
    margin: 50px 0;
  }
}
